{% extends 'base.html' %}

{% block title %}Nepal Salsa Festival | Festival {% endblock %}

{% block content %}
<section class="festival-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="festival-images">
                    <h1 class="text-center">Previous Festivals</h1>
                    <div class="flex-container">
                        {% for festival, dict in festival_images.items %}
                        <div class="card">
                            <a href="{% url 'festival_description' dict.id %}">
                                <img src='{{dict.image.url}}' alt="{{festival}}" class="card-img-top" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{festival}}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="festival-images">
                    <h1 class="text-center">Previous Emcees</h1>
                    <div class="flex-container">
                        {% for emcee in emcees %}
                        <div class="card">
                            <a href="">
                                <img src='{{emcee.image.url}}' alt="{{emcee.name}}" class="card-img-top" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{emcee.name}}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="festival-images">
                    <h1 class="text-center">Previous Musicians</h1>
                    <div class="flex-container">
                        {% for musician in musicians %}
                        <div class="card">
                            <a href="">
                                <img src='{{musician.image.url}}' alt="{{musician.name}}" class="card-img-top" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{musician.name}}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="festival-images">
                    <h1 class="text-center">Previous Dancers</h1>
                    <div class="flex-container">
                        {% for dancer in dance_performances %}
                        <div class="card">
                            <a href="">
                                <img src='{{dancer.image.url}}' alt="{{dancer.name}}" class="card-img-top" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{dancer.name}}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="festival-images">
                    <h1 class="text-center">Past Food Vendors</h1>
                    <div class="flex-container">
                        {% for vendor in food_vendors %}
                        <div class="card">
                            <a href="">
                                <img src='{{vendor.image.url}}' alt="{{vendor.name}}" class="card-img-top" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{vendor.name}}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

