{% extends "base.html" %}
{% load static %}

{% block title %}
Nepal Salsa Festval | Live Streaming
{% endblock title %}

{% block content %}

{% comment %}

<link href="{% static 'live_streaming/css/main.css' %}" rel="stylesheet" type="text/css">
<section id="live_streaming">
    <div id="videos">
        <video class="video-player" id="user-1" autoplay playsinline></video>
        <video class="video-player" id="user-2" autoplay playsinline></video>
    </div>

    <div id="controls">
        <div class="icon-container" id="camera-btn">
            <img src={% static "live_streaming/icons/camera.png" %} alt="">
        </div>

        <div class="icon-container" id="mic-btn">
            <img src={% static "live_streaming/icons/mic.png" %} alt="">
        </div>

        <div class="icon-container" id="leave-btn">
            <img src={% static "live_streaming/icons/phone.png" %} alt="">
        </div>
    </div>
</section>
<script src={% static "live_streaming/js/agora-rtm-sdk-1.5.1.js" %}></script>
<script src={% static "live_streaming/js/main.js" %}></script>
{% endcomment %}

<div class="d-flex p-2 flex-column justify-content-center align-items-center">
    <button id='my-button' style="width:fit-content;">Start Stream</button>
    <video autoplay id="video" class="object-fit-cover"></video>
</div>
<script>
    document.getElementById('my-button').onclick = () => {
        init();
    }

    async function init() {
        const stream = await navigator.mediaDevices.getUserMedia({ video: true,audio:true });
        document.getElementById("video").srcObject = stream;
        const peer = createPeer();
        stream.getTracks().forEach(track => peer.addTrack(track, stream));
        console.log(peer);

        peer.onconnectionstatechange = function(event){
            console.log(peer);
        }
    }


    function createPeer() {
        const peer = new RTCPeerConnection({
            iceServers: [
                {
                    urls: "stun:stun.stunprotocol.org"
                }
            ]
        });
        peer.onnegotiationneeded = () => handleNegotiationNeededEvent(peer);

        return peer;
    }

    async function handleNegotiationNeededEvent(peer) {
        const offer = await peer.createOffer();
        await peer.setLocalDescription(offer);
        const payload = {
            sdp: peer.localDescription
        };

        const { data } = await axios.post('http://192.168.0.172:5000/broadcast', payload);
        //const { data } = await axios.post('http://localhost:5000/broadcast', payload); //To Test on Localhost

        const desc = new RTCSessionDescription(data.sdp);
        peer.setRemoteDescription(desc).catch(e => console.log(e));
    }
</script>

{% endblock content %}
