{% extends "base.html" %}

{% load static %}

{% block title %}
Nepal Salsa Festival | Lobby
{% endblock %}

{% block content %}
{% comment %}
<link href="{% static 'live_streaming/css/lobby.css' %}" rel="stylesheet">
<div id="form-container">
    <div id="form__container__header">
        <p>Enter Your Room ID</p>
    </div>

    <div id="form__content__wrapper">
        <form id="join-form">
            <input type="text" name="join_link" required />
            <input type="submit" value="Join Room" />
        </form>
    </div>
</div>
<script>
    const join_form = document.forms[0];
    join_form.addEventListener("submit", function (event) {
        event.preventDefault();
        const roomId = event.target.join_link.value;
        window.location.href = `/live?room=${roomId}`;
    })
</script>
{% endcomment %}

<h1>Viewer</h1>
<video autoplay id='video'></video>
<button id="my-button">View Stream</button>

<script>
document.getElementById('my-button').onclick = () => {
    init();
}

async function init() {
    const peer = createPeer();
    peer.addTransceiver("video", { direction: "recvonly" })
}

function createPeer() {
    const peer = new RTCPeerConnection({
        iceServers: [
            {
                urls: "stun:stun.stunprotocol.org"
            }
        ]
    });
    peer.ontrack = handleTrackEvent;
    peer.onnegotiationneeded = () => handleNegotiationNeededEvent(peer);

    return peer;
}

async function handleNegotiationNeededEvent(peer) {
    const offer = await peer.createOffer();
    await peer.setLocalDescription(offer);
    const payload = {
        sdp: peer.localDescription
    };

    const { data } = await axios.post('/consumer/', payload);
    const desc = new RTCSessionDescription(data.sdp);
    peer.setRemoteDescription(desc).catch(e => console.log(e));
}

function handleTrackEvent(e) {
    document.getElementById("video").srcObject = e.streams[0];
    console.log(document.getElementById("video").srcObject);
};
</script>
{% endblock %}
