@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --primary-font: 'Galada', cursive;
    --secondary-font: 'Inter', sans-serif;
    --primary-color: #CC1742;
    --h1: 6rem;
}

.center {
    width: 900px;
    margin: auto;
}

.button-a {
    text-decoration: none;
    color: #fff;
}

.fff {
    font-family: cursive;
    font-size: 3em !important;
}

input {
    border: 1px solid #000 !important;
}

select {
    border: 1px solid #000 !important;
}
textarea {
    border: 1px solid #000 !important;
}

label {
    font-size: 1.3em;
}
