@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --primary-font: 'Galada', cursive;
    --primary-color: #CC1742;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
.flex-column {
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1% 3%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_name h2 {
    color: #CC1742;
    font-family: var(--primary-font);
    font-size: 4rem;
}

.nav-links-symbol i {
    color: #CC1742;
}

.hidden {
    display: none !important;
}

.container {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 3%;
    right: 10%;
    font-size: 3rem;
    font-family: sans-serif;
    color: white;
    cursor: pointer;
}

.nav-links-container {
    background-color: #CC1742;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    /* padding-right: 1.5rem; */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    align-items: center;
}

.nav-links li {
    list-style: none;
    font-size: 1.5rem;
}

.nav-links a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.content-wrapper {
    background-color: #000;
    flex-direction: column;
    padding: 3%;
    align-items: normal !important;
}

.content-body {
    display: flex;
    column-gap: 3%;
    justify-content: center;
}

.content-img img {
    height: auto;
    width: 42rem;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: 'Galada', cursive;
    color: #c70039;
}

.content-text>* {
    margin-bottom: 2%;
}

.content-text h2 {
    font-size: 6rem;
    font-weight: 500;
}

.line {
    height: 0.8rem;
    width: 60%;
    border-top-right-radius: 15.75px;
    border-bottom-right-radius: 15.75px;
    background-color: #ffffff;
    margin: 0.5rem 0;
}

.content-text p {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    line-height: 1.5;
}

.content-text .btn-primary {
    font-size: 1.5rem;
    width: 150px;
    border-radius: 25.74px;
    padding: 20px 5px;
    background-color: #c70039;
    color: white;
    border-color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.btn {
    color: #fff;
    background-color: var(--primary-color);
    padding: 5%;
    display: block;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1.43rem;
    text-transform: uppercase;
    margin-top: 5%;
    width: 100%;
}

.btn-primary {
    cursor: pointer;
}

.sponsors-section {
    background-color: #ffffff;
}

.home-description {
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 5% 10.5%;
    font-weight: 300;
}

.sponsors-section h2 {
    font-size: 6rem;
    text-align: center;
    font-family: 'Galada', cursive;
    color: #c70039;
    font-weight: 500;
}

.sponsor-imgs {
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
}

.sponsor-imgs img {
    width: 200px;
    height: 100%;
}

.footer {
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
    background-color: #CC1742;
    padding: 2% 5%;
    color: white;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    flex-direction: column;
}

.copyright h2 {
    font-size: 1.5rem;
}

.column {
    display: flex;
    column-gap: 15px;
}

.contact-body .row:nth-child(1) img{
    max-width: 840px;
}

.contact-body h2 {
    font-family: var(--primary-font);
    font-size: 6rem;
}

.row {
    display: flex;
}

.contact-body .row {
    align-items: center;
    padding: 1% 4%;
    column-gap: 24px;
}

.contact-body .row .column:nth-child(2){
    text-align: center;
}

.contact-body .row .column:nth-child(2) {
    font-size: 1.5rem;
    row-gap: 3rem;
}

.contact-body .row .column:nth-child(2) div:nth-child(3) {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.section-schedule {
    padding: 2% 0 5% 0;
}

.event-timing {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.section-schedule h1{
    font-size: 6rem;
    font-family: var(--primary-font);
    text-align: center;
    width: 100%;
}

.section-schedule .column:nth-child(2) {
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.event-timing p {
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.event-timing .line{
    height: 1px;
    border: 1px solid var(--primary-color);
    width: 458px;
    display: block;
}
