{% extends 'base.html' %}
{% load static %}
{% block title %}
Nepal Salsa Festival | Contact Us
{% endblock title%}

{% block content%}
<section class="section-contact container">
    <div class="contact-body">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/contact/contact_hero.png' %}" class="img-fluid" />
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-column h-100 justify-content-between">
                    <div>
                        <h2 class="contact-title">Contact Us</h2>
                        <p>We can't wait to celebrate with you.</p>
                    </div>

                    <div>
                        <p>For general inquiries, concerns, comments please contact :</p>
                        <div>
                            <span>info@nepalsalsafestival.com</span>
                            <span>9875263102</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}

