{% extends "base.html" %}

{% block title%}Nepal Salsa Festival | Upcoming Events{% endblock %}

{% block content %}
<section id="events">
    <h1>Upcoming Events</h1>

    <div class="grid-container">
        {% for event in upcoming_events %}
        <div class="card">
            <figure>
                <img src="{{event.feature_image.url}}" alt="{{event.title}}" />
                <figcaption>
                    {{event.name}}
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
