{% extends "base.html" %} 
{% load static %}
{% block title %}Nepal Salsa Festical | Home {% endblock title %} 

{% block content %}
<div class="content-wrapper center">
  <div class="content-body">
    <div class="content-img">
      <img src="{% static 'images/home/Home_salsa.png' %}" alt="Content Img" />
    </div>

    <div class="content-text">
      <div>
        <h2>Save The Date</h2>
        <div class="line"></div>
        <p>Durbar Marg, Kathmandu</p>
        <p>December 1, 2023</p>
      </div>
      <a class="btn-primary">Buy Tickets</a>
    </div>
  </div>
</div>

<div class="sponsors-section">
  <div class="home-description">
    <p>
      Welcome to the Nepal's Salsa Festival 2023, You will have an amazing
      opportunity to join the Nepal's Salsa Festival and supporting diversity
      and promoting the salsa culture in the Nepal. Our festival is the only
      festival offering throughout the city. The festival offers live music,
      Stellar entertainment, delicious food on Saturday.
    </p>
  </div>

  <h2>Sponsors</h2>
  <div class="sponsor-imgs">
    <img src="{% static 'images/home/Sponsor 1.png' %}" alt="Sponsor 1" />
    <img src="{% static 'images/home/Sponsor 2.png' %}" alt="Sponsor 2" />
    <img src="{% static 'images/home/Sponsor 3.png' %}" alt="Sponsor 3" />
    <img src="{% static 'images/home/Sponsor 4.png' %}" alt="Sponsor 4" />
  </div>
</div>
{% endblock content %}
