{% extends "base.html" %}
{% load static %}
{% block title %}Nepal Salsa Festical | Home {% endblock title %}

{% block style %}
<style>
    .container-fluid {
        padding: 0;
        overflow: hidden;
    }

    .feedbacks {
        margin-bottom: 7%;
    }

    .feedbacks h2 {
        background-color: black;
    }
    .carousel {
        padding: 3% 7%;
    }

    .sponsors-section {
        padding: 3% 0 0 0;
        background-color: black;
        border: 1px solid black;
        border-left: unset;
        border-right: unset;
        margin-bottom: 7%;
    }

    .sponsor-imgs {
        background-color: white;
        padding: 25px;
    }

    .home-description {
        padding: 2% 5%;
        margin: 7% 0;
    }

    .card {
        --bs-card-border-color: var(--primary-color);
    }

    .card-header {
        background-color: var(--primary-color);
        color: white;
    }

    .content-text {
        font-size: 1rem;
    }

    @media (min-width: 768px) {
        .content-text {
            font-size: 1.25rem;
        }
    }

    @media (min-width: 992px) {
        .content-text {
            font-size: 1.5rem;
        }
    }

    .title {
        font-size: 6rem;
    }

    @media (max-width: 992px) {
        .title {
            font-size: 4rem;
        }

        .content-text {
            text-align: center;
        }
    }

    @media (max-width: 768px) {
        .title {
            font-size: 3rem;
        }
    }
</style>
{% endblock style %}

{% block content %}
<div class="content-wrapper center">
    <div class="content-body">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ next_festival.feature_image.url }}" alt="{{ next_festival.name }}" class="img-fluid" />
            </div>

            <div class="col-md-6">
                <div class="content-text">
                    <div>
                        <h2 class="mb-3 title">Save The Date</h2>
                        <div class="line mb-3"></div>
                        <p class="mb-3">{{ next_festival.location }}</p>
                        <p class="mb-3">{{ next_festival.date_time }}</p>
                    </div>
                    <a href="{% url 'tickets' next_festival.id %}" class="btn btn-primary">Buy Tickets</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid home-description">
    <p class="mb-4">
        {{ next_festival.description }}
    </p>
</div>

{% if sponsors %}
<div class="sponsors-section">
    <h2>Sponsors</h2>
    <div class="container-fluid sponsor-imgs">
        {% for sponsor in sponsors %}
        <div class="col-md-3">
            <img src="{{sponsor.feature_image.url}}" alt="Sponsor 1" class="img-fluid" />
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% if feedbacks %}
<div class="container-fluid feedbacks">
    <h2 class="text-center">User Feedbacks</h2>
    <div id="feedbackCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for feedback in feedbacks %}
            <div class="carousel-item active">
                <div class="card text-center">
                    <div class="card-header">
                        {{feedback.first_name}} {{feedback.last_name}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{feedback.festival}}</h5>
                        <p class="card-text">{{feedback.message}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}

