<!DOCTYPE html>
<html>
  <head>
    <meta name="Description" content="just basic html" />
    <meta name="Keywords" content="Html,Css,js" />
    <meta name="Author" content="Radha" />
    <meta http-equiv="refresh" content="" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Home page</title>
    <style type="text/css">
    
      /*css for image*/
      .img {
        width: 200px;
        height: 200px;
      }
      /*css for image*/
      .hide {
        display: none;
      }
    </style>
  </head>

  <body>
    <!--this division is for navigation bar-->
    <div class="navigation">
      <nav>
        <table style="width: 25px; margin: auto; text-decoration: none">
          <tr>
            <th class="menu">
              <a href="Home.html">Home</a>
            </th>
            <th class="menu">
              <a href="Product.html">Product</a>
            </th>
            <th class="menu">
              <a href="Blog.html">Blog</a>
            </th>
            <th class="menu">
              <a href="Research.html">Research</a>
            </th>
            <th class="menu">
              <a href="Contact.html">Contact</a>
            </th>
          </tr>
        </table>
        <img src="LOGO.jpg" />
      </nav>
    </div>
    <!--this division is for background picture -->
    <div class="do">
      <img src="phone.jpg" width="100%" />
    </div>
    <!--this division is for heading and paragraph-->
    <div class="one">
      <h1 font style="50 px">
        <i>Oppa mobile helps you find your ideal mobile.</i>
      </h1>
      <p>
        We are in Business to improve lives with modern mobile technologies. The
        more you shop<br />
        the more appealing you will feel towards our business.Feel free to
        contact us.
      </p>
    </div>
    <!--this division is for toggle image-->
    <div>
      <img class="img hide" id="1" src="Era.png" />
      <img class="img hide" id="2" src="Era3.png" />
      <br />
      <button onclick="toggle()">Toggle Image</button>
    </div>
    <script type="text/javascript">
      //js for toggle image
      function toggle() {
        var p1 = document.getElementById("1");
        var p2 = document.getElementById("2");

        if (p1.style.display == "none") {
          p1.style.display = "block";
          p2.style.display = "none";
        } else {
          p1.style.display = "none";
          p2.style.display = "block";
        }
      }
      document.getElementById("1").style.display = "block";
    </script>
    <!--this is Footer section -->
    <div class="footer">
      <footer>
        <table width="100%">
          <tr>
            <th>
              <div style="background-color: lightskyblue">
                <h1 id="head">Oppa Mobiles</h1>
                <p style="text-align: center">
                  &copy;2021-2022,Radha Budha Magar
                </p>
                <p style="text-align: center">All Rights Reserved</p>
              </div>
            </th>
          </tr>
        </table>
      </footer>
    </div>
  </body>
</html>
