{% extends 'base.html' %}

{% block title %}Nepal Salsa Festival | Participate {% endblock %}

{% block style %}
<style>
.modal-header{
    justify-content: center;
}

.modal-body {
    text-align: left;
}
</style>
{% endblock style %}

{% block content %}
<section id="participate">
    <h1>Get Involved</h1>
    <p>
        We’re always expanding and seeking more sponsors and alliances.
        To find out more, contact us.
    </p>
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#sponsors">Sponsors</button>

    <div class="modal fade" id="sponsors" tabindex="-1" role="dialog" aria-labelledby="sponsorsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="sponsorsTitle">Sponsors</h1>
                    </div>
                    <div class="modal-body">
                        <form method="POST" name="sponsors" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" value="sponsor_form" name="which_form" />
                            {% for field in sponsor_form %}
                            <div class="form-group my-2">
                                <label for="{{field.id_for_label}}" class="my-2">{{field.label}}</label>
                                {{field}}
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>
        We’re always trying to involve as many people as possible.
        Take a look below to apply.
    </p>

    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#volunteers">Volunteer</button>

    <div class="modal fade" id="volunteers" tabindex="-1" role="dialog" aria-labelledby="volunteersTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="sponsorsTitle">Volunteer</h1>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <input type="hidden" value="volunteer_form" name="which_form" />
                            {% for field in volunteer_form %}
                            <div class="form-group">
                                <label for="{{field.id_for_label}}">{{field.label}}</label>
                                {{field}}
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const form_groups = document.querySelectorAll(".form-group");
    form_groups.forEach(group => {
        const inputs = group.querySelectorAll("input");
        const selects = group.querySelectorAll("select");
        const files = group.querySelectorAll("file");

        inputs.forEach(input => {
            input.classList.add("form-control");
        });

        selects.forEach(select => {
            select.classList.add("form-control");
        });

        files.forEach(file => {
            file.classList.add("form-control");
        });
    });
</script>
{% endblock %}
