{% extends 'base.html' %}

{% block title %}Nepal Salsa Festival | Participate {% endblock %}

{% block content %}
<section id="participate">
    <h1>Get Involved</h1>
    <p>
        We’re always expanding and seeking more sponsors and alliances.
        To find out more, contact us.
    </p>
    <button class="btn btn-primary" type="button">Sponsors</button>
    <p>
        We’re always trying to involve as many people as possible.
        Take a look below to apply.
    </p>
    <button class="btn btn-primary" type="button">Volunteer</button>
</section>
{% endblock %}
