{% extends 'base.html' %}

{% block title %}
Nepal Salsa Festival | Schedule
{% endblock title %}

{% block content %}
<section class="section-schedule">
    <div class="column">
        <h1>Salsa Festival 2023 Schedule</h1>
    </div>
    <div class="column">
        <div class="event-timing">
            <p>2:00 PM <span class="line"></span> Bachata Dance</p>
            <p>3:00 PM <span class="line"></span> The Punks</p>
            <p>4:00 PM <span class="line"></span> Alfred Times</p>
            <p>5:00 PM <span class="line"></span> Pranisha Parth</p>
            <p>7:00 PM <span class="line"></span> David Beckham</p>
            <p>8:00 PM <span class="line"></span> Hari Baral</p>
            <p>9:00 PM <span class="line"></span> Riya Shah</p>
        </div>
    </div>
</section>
{% endblock content %}
