{% extends 'base.html' %}

{% block title %}
Nepal Salsa Festival | Schedule
{% endblock title %}

{% block style %}
<style>
    @media Screen and (max-width: 1100px){
        .section-schedule .column:nth-child(2) {
            font-size: 1.5rem;
        }
    }
    @media Screen and (max-width: 900px){
        .event-timing .line {
            width: 200px;
        }
    }
    @media Screen and (max-width: 600px){
        .event-timing .line {
            width: 100px !important;
        }

        .event-timing p {
            font-size: 1rem;
        }
    }

</style>
{% endblock style %}

{% block content %}
<section class="section-schedule">
    <div class="column">
        <h1>{{festival.name}}</h1>
    </div>
    <div class="column">
        <div class="event-timing">
            {% for s in schedule %}
            <p>{{s.time}}<span class="line"></span> {{s.act}}</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
