{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://kit.fontawesome.com/6dff41c16b.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Galada&family=Inter&display=swap" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <title> {% block title %}Nepal Salsa Festival{% endblock title %}</title>
</head>

<body>
  <nav>
    <div class="logo center">
        <a href="{% url 'home' %}">
      <img src="{% static 'images/home/logo.png' %}" />
        </a>
    </div>

    <div class="logo_name center">
      <h2>Nepal Salsa Festival</h2>
    </div>

    <div class="nav-links-symbol center">
      <i class="fa-solid fa-bars fa-2xl bars"></i>
    </div>

    <div class="container hidden">
      <div class="nav-links-container">
        <ul class="nav-links">
          <li class="nav-link"><a href="{% url 'home' %}">Home</a></li>
          <li class="nav-link"><a href="{% url 'signin' %}">Log In</a></li>
          <li class="nav-link"><a href="#">Events</a></li>
          <li class="nav-link"><a href="{% url 'schedule' %}">Schedule</a></li>
          <li class="nav-link"><a href="#">Participate</a></li>
          <li class="nav-link"><a href="#">Past Events</a></li>
          <li class="nav-link"><a href="#">About Us</a></li>
          <li class="nav-link"><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
        <span class="close-btn">X</span>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}

  <div class="footer">
    <div class="social-links">
      <a><img src="{% static 'images/home/facebook-f.svg' %}" /></a>
      <a><img src="{% static 'images/home/instagram.svg' %}" /></a>
      <a><img src="{% static 'images/home/envelope-regular.svg' %}" /></a>
      <a><img src="{% static 'images/home/youtube.svg' %}" /></a>
    </div>

    <div class="copyright">
      <h2>&copy;2024 By Nepal Salsa Festival. All Rights Reserved</h2>
    </div>
  </div>

  <script src="{% static 'js/script.js' %}" type="text/javascript">;</script>
</body>

</html>
