{% extends 'base.html' %}
{% block title %}Nepal Salsa Festival | Lost Password {% endblock %}

{% block content%}
<style>
    form {
        width: 345px;
        margin-left: auto;
        margin-right: auto;
    }
</style>


<div class="container-fluid">
    <form method="POST" class="container-sm " action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Your Email Address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required />
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <div class="valid-feedback">
                {{error}}
                Looks good!
            </div>
        </div>
        <div class="mb-3 {% if user.is_anonymous %}hidden{% endif %}">
            <label for="password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="password" name="password"/>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3 {% if user.is_anonymous %}hidden{% endif %}">
            <label for="c_password" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="c_password" name="c_password"/>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <button type="smx-autoubmit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
